DBSTRING="host=localhost port=5432 dbname=db_name user=YOURUSERNAME password=YOURPASSWORD"
LLM_API_CALL_STRING="curl http://localhost:11434/api/generate -d"
LLM_MODEL="deepseek-r1:14b"
# Requires : and Port number
HTTP_PORT=":8080"
CTF_FLAG = flag:{CLOUD_API key}
# CLOUD_API format: Enabled, Name, key, UsageplanIds
CLOUD_API= true, "CJ_CloudKey", "du903mfogh623kf839fg", "c4rr3r_j0urn3y"