{{template "base" .}}

{{define "css"}}
{{end}}

{{define "page-title"}}
Application Manager
{{end}}

{{define "content"}}
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card container-fluid">
    
    <div class="card bg-light">
      <div class="card-body">
        <p class="display-3 text-center">Application Board</p><hr><br>
        <div class="row">

          <div class="col-md-3">
            <p class="display-4 text-center">Pending</p>
            <div class="card">
                <div class="card-body">
                    

                </div>
            </div>
          </div>

          <div class="col-md-3">
            <p class="display-4 text-center">Applied</p>
            <div class="card">
                <div class="card-body">
                    

                </div>
            </div>
          </div>

          <div class="col-md-3">
            <p class="display-4 text-center">Interview</p>
            <div class="card">
                <div class="card-body">
                    

                </div>
            </div>
          </div>

          <div class="col-md-3">
            <p class="display-4 text-center">Rejected</p>
            <div class="card">
                <div class="card-body">
                    

                </div>
            </div>
          </div>

        </div>

<br><hr> 


              
            </div>
        </div>
    </div>
</div>


{{end}}

{{define "js"}}
{{end}}