{{template "base" .}}

{{define "page-title"}}
{{end}}
{{define "css"}}
{{end}}

{{define "content"}}

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      
      <form class="forms" action="/contacts/new" method="post">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <div class="row">
          <div class="col-md-12">
          <h4 class="display-3">Add New Contact</h4>
          </div> <br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group float-right">
                <div class="form-check-primary">
                  <input type="checkbox" value="true" name="favorite" class="form-check-input">
                  <label class="form-check-label">Favorite
                  <i class="input-helper"></i>
                </label>

                </div>
              </div>
            </div>
          </div>
        </div>

        <p class="card-description">Personal Information</p>
        <div class="row">
          <div class="col-md-6">
            <div class="for-group row">
              <label class="col-sm-2 col-form-label">First Name</label>
              {{with .Form.Errors.Get "first_name"}}
              <label class="text-danger">{{.}}</label>
              {{end}}
              <div class="col-sm-10">
                <input type="text" name="first_name" class="form-control" {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}
                id="first_name" required autocomplete="off"> 
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="for-group row">
              <label class="col-sm-2 col-form-label">Last Name</label>
              {{with .Form.Errors.Get "last_name"}}
              <label class="text-danger">{{.}}</label>
              {{end}}
              <div class="col-sm-10">
                <input type="text" name="last_name" class="form-control" {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}
                id="last_name" required autocomplete="off"> 
              </div>
            </div>
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-6">
            <div class="for-group row">
              <label class="col-sm-2 col-form-label">Job Title</label>
              {{with .Form.Errors.Get "job_title"}}
              <label class="text-danger">{{.}}</label>
              {{end}}
              <div class="col-sm-10">
                <input type="text" name="job_title" class="form-control" id="job_title" required autocomplete="off"> 
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="for-group row">
              <label class="col-sm-2 col-form-label">Email</label>
              {{with .Form.Errors.Get "email"}}
              <label class="text-danger">{{.}}</label>
              {{end}}
              <div class="col-sm-10">
                <input type="text" name="email" class="form-control" {{with .Form.Errors.Get "email"}} is-invalid {{end}}
                id="email" required autocomplete="off"> 
              </div>
            </div>
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-6">
            <div class="for-group row">
              <label class="col-sm-2 col-form-label">Company</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input type="text" name="company" class="form-control" id="company" autocomplete="off"> 
                  <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-primary" type="button">Search</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="for-group row">
              <label class="col-sm-2 col-form-label">Objective</label>
              <div class="col-sm-10">
                <select name="objective" class="form-control" id="objective"> 
                  <option>Networking</option>
                  <option>Interview</option>
                  <option>Research</option>
                  <option>Personal</option>
                  <option>Mentor</option>
                  <option>Mentee</option>
                  <option>Other</option>
                </select>
              </div>
            </div>
          </div>
          
        </div><br>

        <p class="card-description">Phone and Links</p>
        <div class="row">
          <div class="col-md-6">
            <div class="for-group row">
              <label class="col-sm-2 col-form-label">Mobile Phone</label>
              <div class="col-sm-10">
                <input type="text" name="mobile_phone" class="form-control" id="mobile_phone" autocomplete="off"> 
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="for-group row">
              <label class="col-sm-2 col-form-label">Work Phone</label>
              <div class="col-sm-10">
                <input type="text" name="work_phone" class="form-control" id="work_phone" autocomplete="off"> 
              </div>
            </div>
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-6">
            <div class="for-group row">
              <label class="col-sm-2 col-form-label">LinkedIn</label>
              <div class="col-sm-10">
                <input type="text" name="linkedin" class="form-control" id="linkedin" autocomplete="off"> 
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="for-group row">
              <label class="col-sm-2 col-form-label">GitHub</label>
              <div class="col-sm-10">
                <input type="text" name="github" class="form-control" id="github" autocomplete="off"> 
              </div>
            </div>
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-12">
            <div class="for-group row">
              <label class="col-sm-2 col-form-label">Description</label>
              <div class="col-sm-12">
                <textarea type="text" name="description" class="form-control" id="description" autocomplete="off" rows="2"></textarea>
              </div>
            </div>
            </div>
          </div><br>

          <div class="row">
          <div class="col-md-12">
            <div class="for-group row">
              <label class="col-sm-2 col-form-label">Notes</label>
              <div class="col-sm-12">
                <textarea type="text" name="notes" class="form-control" id="notes" autocomplete="off" rows="6"></textarea>
              </div>
            </div>
          </div>
        </div><br>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>

    </div>
  </div>
</div>
</div>

{{end}}

{{define "js"}}
{{end}}

