<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Career Journey</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/static/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="shortcut icon" href="/static/images/favicon.png">
    <style>
        a:link { 
            text-decoration: none;
            color: rgb(5, 5, 21); 
        } 
        a:visited { 
            text-decoration: none;
            color: rgb(5, 5, 21); 
        } 
        a:hover { 
            text-decoration: none; 
            color: rgb(31, 31, 128);
        } 
        a:active { 
            text-decoration: none;
            color: rgb(5, 5, 21); 
        }
 

    </style>
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
                <div class="row flex-grow">
                    <div class="col-lg-6 d-flex align-items-center justify-content-center">
                        <div class="auth-form-transparent text-left p-3">
                            <div class="brand-logo">
                            <img src="/static/images/cj_logo_black.png" alt="logo">
                            </div>   
                        <h3>Career Journey</h3>
                        <form class="pt-3">
                            <div class="form-group">
                                <a id="lnk" class="display-3" href="/resources">Resources</a>
                            </div>
                            <div class="form-group">
                                <a id="lnk" class="display-3" href="/about">About</a>
                            </div>
                            <div class="form-group">
                                <a name="lnk" class="display-3" href="/user/login">Login</a>
                            </div>
                          </form>
                        </div>
                    </div>
                    <div class="col-lg-6 login-half-bg d-flex flex-row">
                      <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2021  All rights reserved.</p>
                    </div>
                  </div>

                </div>
                <!-- content-wrapper ends -->
              </div>
              <!-- page-body-wrapper ends -->
            </div>

                     
                        
                


<!-- plugins:js -->
<script src="/static/js/notie.js"></script>
<script src="/static/js/notifications.js"></script>
<script src="/static/js/vendor.bundle.base.js"></script>
<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/hoverable-collapse.js"></script>
<script src="/static/js/template.js"></script>
<script src="/static/js/todolist.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>
</html>


