{{template "base" .}}

{{define "content"}}
<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="text-center mt-3">Resume Resources Page</h1>
			<p class="text-center">From Search to Success - Take Charge of Your Career Journey. </p>
		</div>
	</div>
</div>
{{end}}

{{define "js"}}
{{end}}